.anchor_pane {
    -fx-background-color: black;
}

.db_btn {
    -fx-background-color: #FFD700;
    -fx-radius: 2;
    -fx-cursor: hand;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-text-alignment: center;
    -fx-text-fill: BLACK;
    -fx-alignment: CENTER;
    -fx-background-radius: 10;
    -fx-pref-width: 200px;
    -fx-pref-height: 40px;
    -fx-text-fill: black;
}

.left_pane {
    -fx-background-color: #1C1C1C;
    -fx-pref-width: 130px;
    -fx-pref-height: 600px;
        -fx-text-fill: #FFD700;
}

.admin_section {
    -fx-background-color: #000000;
}

.table_columns {
    -fx-background-color: #171616;
    -fx-text-fill: #FFD700;
}


.menu_bar{
    -fx-background-color: black;
    -fx-text-fill: #FFFFFF;
}
.menu_items {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-border-color: transparent ;
}
.menu_items:hover {
    -fx-background-color: #F5F5F5;
    -fx-text-fill: #000000;
}
.menu_items:selected {
    -fx-background-color: #DFF7FF;
    -fx-text-fill: #000000;

}
.text_field_pane {
    -fx-background-color: #2C2C2C;
}

.text_field {
    -fx-background-color: black;
    -fx-text-fill: #FFD700;
}



.image_view{
    -fx-background-color: black;
    -fx-border-color: #FDD700;
    -fx-border-width: 2;
    -fx-stroke: #FDD700;
}
.table-view:focused .table-row-cell:selected .table-cell {
    -fx-background-color: #FFA500;
    -fx-text-fill: BLACK;
}
.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  #FDD700;
}
.table-view .column-header .label{
   -fx-text-fill: BLACK;
   -fx-font-weight: bold;
   -fx-alignment: CENTER_LEFT;
}
.table-view .cell{
   -fx-cell-size: 35;
  -fx-background-color: #333333;
  -fx-border-color: #FFD700;
  -fx-text-fill: #FDD700;
  -fx-alignment: CENTER_LEFT;

}
.table-row-cell:selected {
   -fx-background-color: #FDD700;
   -fx-text-background-color:  BLACK;
}

/* scroll bar starts here */

/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 2em;

}

/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
	-fx-background-color: #1C1C1C;
	-fx-border-color:#FDD700;

	-fx-background-radius: 2em;
	-fx-border-radius:2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: #FDD700;
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;

}
